 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>
                        Hello! I’m a final year CSE student who’s in love with data science. I love volunteering for FOSS organisations, and working on whatever side projects my mind dreams up. I also play the piano and love jazz.
                    </p>
                </div>
            </div>
        </div>
    </section>
